.form {
    gap: 20px;
    padding: 20px;
    width: 35%;
    background: #FFFFFF;
    box-shadow: 1px 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    margin-left: 5px;
}

.input-box input {
    height: 50px;
    width: 100%;
    outline: none;
    color: black;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 15px;
}

.input-box input:first-letter {
    text-transform: uppercase;
}

h4 {
    font-size: 19px;
    font-weight: 600;
    color: #FFA318;
    margin-top: 20px;
}

.container {
    margin-left: 20%;
    position: relative;
}

.button[type="submit"] {
    width: 20%;
    padding: 5px;
    background: #f2af4a;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 80%;
}
/* Style for the custom close button */
.custom-close-btn {
    width: 40px;
    height: 40px;
    background: #f2af4a;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

/* Ensure the close button has an icon centered */
.custom-close-btn i {
    font-size: 14px;
    color: #FFFFFF;
}
