/* supplier.php CSS */

.top-nav {
    background-color: #F59607;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

h1 {
    font-size: 28px;
    font-weight: 400;
    color: #FAFAFA;
    margin: 0;
}

.date {
    font-size: 12px;
    font-weight: 450;
    color: #FAFAFA;
}

.username {
    font-size: 12px;
    font-weight: 450;
    color: #000000;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    font-size: 14px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: orange;
}

.user-and-date {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container {
    margin: 20px auto;
    width: 80%;
}

.table-container {
    margin-top: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
}

.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container tr:hover {
    background-color: #ddd;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-container button {
    background-color: #f2af4a;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    outline: none;
}

.button-container button:hover {
    background-color: #e2953e;
}
