.top-nav {
    background-color:#F59607 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    font-size: 28px;
    font-weight: 400;
    color: #FAFAFA;
    margin: 0;
}

.user-and-date {
    display: flex;
    align-items: center;
}

.username {
    font-size: 12px;
    font-weight: 450;
    color: #000000;
    margin-right: 20px;
    cursor: pointer;
}

.username:hover {
    color: #FAFAFA;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    font-size: 14px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .username {
    color: orange;
}

button {
    margin-left: 1350px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFC56D;
    display: inline-block;
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
 }

.table-container {
    width: 70%;
    margin-left: 300px;
    overflow-x: auto; 
}


table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Header Styles */
th {
    background-color: #f2af4a;
    color: #000;
}

/* Row Hover Effect */
tr:hover {
    background-color: #f2f2f2;
}

/* Border Radius */
.border-top-left {
    border-top-left-radius: 10px;
}

.border-top-right {
    border-top-right-radius: 10px;
}

.border-bottom-right {
    border-bottom-right-radius: 10px;
}

.border-bottom-left {
    border-bottom-left-radius: 10px;
}
