.top-nav {
    background-color:#F59607;
    width: auto;
    height: 80px;
    margin-left: 260px;
    display: flex;
    gap: 67%;
    align-items: center;
    flex-direction: row;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    color: #FAFAFA;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
}

.date {
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}

.username {
    font-size: 13px;
    font-weight: 450;
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
}

.user-and-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 15px;
}
